<div style="text-align: center;">
<h2>THis is the app comppnent html page</h2>
<!--<h3>Property binding</h3>
 <p [innerHTML]="name"></p>

<h3>Interpolation</h3>
<p>{{name}}</p> -->

<!-- <h3>Property binding</h3>
<img [src]="imgPath" width="300px" alt="aman image">

<h3>Interpolation</h3>
<img src={{imgPath}} width="300px" alt="aman image"> -->

<!-- <button (click)="ChangeButton()">Click here</button>
<h3>Interpolation</h3>
<button disabled="{{isDisplay}}">Click Me!</button>

<h3>Property binding</h3>
<button [disabled]="isDisplay">Click Me!</button>
<br>
<button style="background-color: red;">Click me</button>
<button style="background-color: red;" [style.font-weight]="'bold'">Click me</button>
<button style="background-color: red;" [style.font-weight]="isBold">Click me</button>
<button style="background-color: red;" [style.font-size.px]="fontSize" >Click me</button> -->

<!-- <input type="text" [value]="Message" #txtName (keyup)="keyupfun(txtName.value)" /><br> -->
<!-- <input type="text" [(ngModel)]="Message"  />
<br>
Your Message is :-<b> {{Message}}</b> -->

<!-- <b>{{name | welcome}}</b> -->

<button (click)="GetMessage()">Click Me!</button>
<h3>{{_msg}}</h3>

</div>